//======================================================================
// Variables
//======================================================================
$primary-color: #6489CC;
$secondary-color: #FFF296;

$text-color: #555555;

//======================================================================
// Styles for editor
//======================================================================
body {
  font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
  color: $text-color;
}

@import "content-style";